@import "../settings/settings.colors";
@import "../settings/settings.margins";
@import "../tools/tools.card";
@import "../tools/tools.typography";

.editorCard {
  @include card;
  @include cardHoverShadow;
  padding: $margin____smallMedium;

  &:hover {
    //background-color: $color____faintestShade;
  }

}

.editorCard__title {
  font-weight: 500;
}

.editorCard__description {
  margin-top: 5px;

  .editorCard--noDescription &
  {
    display: none;
  }

}