//$color____lightShade: #cacfe8;
$color____lightShade: #c9d5e2;
$color____faintestShade: darken(#fafbfd, 1);
$color____dark: #24343c;

$color____reallyFaint: #eaf1fb;
$color____faintBlueShade: #c5ddf7;
$color____blueShade: #84b3fd;
$color____darkBlue: #375e71;
$color____reallyDarkBlue: #335c79;

$color____editorHeader: #ffffff;